*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#f7f9fc;
  color:#333;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#111;
  color:white;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-left:20px;
}

nav a{
  color:white;
  text-decoration:none;
}

header{
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(135deg,#0077ff,#00c6ff);
  color:white;
}

header span{
  color:yellow;
}

button{
  margin-top:20px;
  padding:12px 25px;
  border:none;
  background:#111;
  color:white;
  cursor:pointer;
  border-radius:6px;
}

button a{
  color:white;
  text-decoration:none;
}

section{
  padding:60px 20px;
  text-align:center;
}

.cards{
  margin-top:20px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 3px 10px rgba(0,0,0,0.1);
  width:200px;
}

